body{
	margin: 0px;
	background: #DEDEDE;
}
.whole_page{
	margin: auto;
	width: 1024px;

}
.content{
	overflow: hidden;
	background: #CCCCCC;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 70px;
}
.welcome{
	padding-left: 10px;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 1px;
}
table{
	margin-bottom:10px;
}
td{
	font-size: 30px;
	padding: 10px;
}
label{
	margin-left: 10px;
	font-size:35px;
}
.button{
	margin-top: 15px;
	margin-left: 218px;
	padding: 6px 22px;
}